<div *ngIf="quiz">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>{{quiz.name}}</h3>
    <button type="button" class="btn btn-primary" (click)="openNewQuiz()">
      <i class="fas fa-plus"></i> Nieuwe vraag
    </button>
  </div>


  <div class="row">
    <form>

    </form>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary me-2" *ngIf="quiz.status === 'Creating'" (click)="updateQuizStatus('Ready')">Zet quiz op actief</button>
      <button class="btn btn-warning me-2" *ngIf="quiz.status === 'Ready'" (click)="updateQuizStatus('Creating')">Zet quiz op inactief</button>
      <button class="btn btn-danger" holdable (holdTime)="holdHandler($event)"><i class="fas fa-trash-alt"></i> Verwijder Quiz</button>
      <progressbar class="w-25" [value]="deleteProgress" type="danger" [max]="50" [animate]="true">{{deleteProgress}}%</progressbar>
    </div>
  </div>



  <div *ngIf="newQuestion && createMode" class="shadow border border-3 border-primary mb-3 rounded">
    <div class="d-flex justify-content-between p-3">
      <h4 class="">Nieuwe Vraag</h4>
      <button class="btn btn-sm btn-warning" (click)="cancelCreateQuestion()"><i class="fas fa-times"></i> Annuleer</button>
    </div>

    <app-question [question]="newQuestion" [quizId]="quiz.id"  (questionCreated)="onQuestionCreated($event)" ></app-question>

  </div>

  <div *ngFor="let question of quiz.questions" class="shadow">
    <app-question [question]="question" [quizId]="quiz.id"(questionRemoved)="onQuestionRemoved($event)"></app-question>
  </div>
</div>
