
<!-- Button trigger modal -->
<div class="d-flex flex-sm-row flex-column justify-content-between mb-4">
  <h4 class="text-primary text-center text-sm-start">Overzicht opgestelde quizzen</h4>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-quiz">
    <i class="fas fa-plus"></i> Nieuw
  </button>
</div>


<ng-container *ngIf="quizzes">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Aangemaakt op</th>
        <th scope="col">Naam</th>
        <th scope="col">Aantal vragen</th>
        <th scope="col">Actief</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let quiz of quizzes.data" (click)="onRowClicked(quiz.id)">
        <td>{{quiz.createdAt | date:'dd/MM/yyyy'}}</td>
        <td>{{quiz.name}}</td>
        <td>{{quiz.numberOfQuestions}}</td>
        <td>{{quiz.startDate ? 'Ja' : 'Nee'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <span class="">
      Resultaten {{((quizzes.pageIndex-1) * quizzes.pageSize) + 1}}-
      {{(quizzes.pageSize * quizzes.pageIndex) <= quizzes.count ? (quizzes.pageSize * quizzes.pageIndex) : quizzes.count}}
      van {{quizzes.count}}
    </span>
  </div>
  <pagination class="justify-content-center"
    [totalItems]="quizzes.count"
    [itemsPerPage]="quizzes.pageSize"
    [maxSize]="5"
    [boundaryLinks]="true"
    [firstText]="'<<'"
    [lastText]="'>>'"
    [nextText]="'>'"
    [previousText]="'<'"
    (pageChanged)="onPageChanged($event)" >
  </pagination>
</ng-container>



<!-- Modal -->
<div class="modal fade" id="new-quiz" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="nieuwe quiz" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border border-3 border-primary">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="staticBackdropLabel">Nieuwe quiz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-create-quiz></app-create-quiz>
      </div>
    </div>
  </div>
</div>

