$primary: #1BA4D1;
$secondary: #3F7FA7;
$danger: #f33d4f;
$success:#28c27a;
$info: #6f42c1;
$table-hover-color:white;
$table-hover-bg: $primary;

$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
$btn-close-opacity: 1;
$btn-close-hover-opacity: .75 !default;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";

