$primary: #1BA4D1;
$secondary: #3F7FA7;
$danger: #f33d4f;
$success:#28c27a;
$info: #6f42c1;
$table-hover-color:white;
$table-hover-bg: $primary;



@import "../../node_modules/bootstrap/scss/bootstrap.scss";

